{% extends 'base.html' %}
{% block title %}Customer Messages - Admin{% endblock %}
{% block content %}
	<h1>Customer Messages</h1>
	<table>
		<tr>
			<th>Customer Number</th>
			<th>Product</th>
			<th>Shop</th>
			<th>Date & Time</th>
			<th>Notified</th>
		</tr>
	{% for record in records %}
		<tr>
			<td>{{ record.customer_number}}</td>
			<td>{{ record.product_name }}</td>
			<td>{{ record.shop_name }}</td>
			<td>{{ record.timestamp }}</td>
			<td>{{ record.notified }}</td>
		</tr>
	{% endfor %}
		<tr><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td><td>&nbsp</td></tr>
	</table>
{% endblock %}