{% extends 'base.html' %} 
{% block heading %}Customer Messages - Admin{% endblock %}
{% block content %} 
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th>Customer Number</th>
			<th>Product</th>
			<th>Shop</th>
			<th>Date & Time</th>
			<th>Notified</th>
		</tr>
	{% for message in messages %}
		<tr {% if message.notified %} class="success" {% endif %}>
			<td>{{ message.customer_number}}</td>
			<td>{{ message.product_code }}</td>
			<td>{{ message.shop_code }}</td>
			<td>{{ message.timestamp }}</td>
			<td>{{ message.notified }}</td>
		</tr>
	{% endfor %} 
	</table>
{% endblock %}