{% extends 'base.html' %}
{% block title %}Customer Messages - Admin{% endblock %}
{% block heading %}Customer Messages - Admin{% endblock %}
{% block content %} 
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th>Customer Number</th>
			<th>Product</th>
			<th>Shop</th>
			<th>Date & Time</th>
			<th>Notified</th>
		</tr>
	{% for record in records %}
		<tr {% if record.notified %} class="success" {% endif %}>
			<td>{{ record.customer_number}}</td>
			<td>{{ record.product_name }}</td>
			<td>{{ record.shop_name }}</td>
			<td>{{ record.timestamp }}</td>
			<td>{{ record.notified }}</td>
		</tr>
	{% endfor %} 
	</table>

	<a href="/admin/notify" class = "button">Notifications</a>
{% endblock %}