{% extends 'base.html' %}  
{% block heading %}Products{% endblock %}
{% block content %} 

<form method='POST'>
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th>Product Code</th>
			<th>Product Name</th>
			<th></th>
		</tr>
		<tr>
			<td><input type='text' name = 'product_code' maxlength=5 class='span3'/></td>
			<td><input type='text' name = 'product_name' maxlength=30 class='span10'/></td> 
			<td><input type='submit' name = "Add"></td>
		</tr>
	{% for record in records %}
		<tr>
			<td>{{ record.product_code }}</td>
			<td>{{ record.product_name }}</td> 
			<td></td>
		</tr>
	{% endfor %} 
	</table>
</form>
{% endblock %}